# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Scirpts.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Drew\Desktop\New Unity Project\Assets\Scirpts\.idea\.idea.Scirpts.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
